@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

:root {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue-light-theme: hsl(233, 11%, 84%);
  --dark-grayish-blue-light-theme: hsl(236, 9%, 61%);
  --very-dark-grayish-blue-light-theme: hsl(235, 19%, 35%);
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-very-dark-grayish-blue: hsl(237, 14%, 26%); }

html {
  font-size: 18px; }

body {
  background: url(/images/bg-desktop-dark.jpg) top no-repeat var(--very-dark-blue);
  color: var(--very-light-grayish-blue);
  font-family: josefin sans, sans-serif; }

main {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column; }

.content {
  max-width: 30rem;
  margin: 1rem; }

.top-bar {
  display: flex;
  align-items: center; }

h1 {
  color: var(--very-light-gray);
  letter-spacing: 0.5rem;
  margin: 3rem 0; }

.switch-mode {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: url(/images/icon-sun.svg) no-repeat center;
  margin-left: auto;
  margin-top: -0.5rem;
  cursor: pointer; }

.item {
  min-height: 3rem;
  background-color: var(--very-very-dark-grayish-blue);
  color: var(--light-grayish-blue);
  display: flex;
  border-radius: 5px;
  margin-bottom: 1rem;
  align-items: center;
  padding: 1rem; }

.item-description {
  height: 100%;
  font-size: 1rem;
  font-family: josefin sans, sans-serif; }

.item-description::placeholder {
  font-size: 1rem;
  color: var(--light-grayish-blue); }

.item-description:focus {
  outline: none; }

.item-description,
.todo-text {
  background-color: inherit;
  color: inherit;
  width: 100%;
  border: none;
  margin-left: 1rem; }

.todo-text {
  margin-top: 0.25rem; }

.todo-container {
  background-color: var(--very-very-dark-grayish-blue);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); }

li {
  border-bottom: 1px solid var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer; }

.status,
.round {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: solid 1px var(--very-dark-grayish-blue);
  margin-left: 0.5rem; }

.status:hover {
  border: solid 1px var(--light-grayish-blue-hover); }

.check {
  background: url(/images/icon-check.svg) no-repeat center, linear-gradient(to right bottom, lightsteelblue, steelblue); }

.todo-text.line-through {
  text-decoration: line-through;
  color: var(--dark-grayish-blue-light-theme); }

.cross {
  margin-left: auto;
  visibility: hidden; }

.bottom-bar {
  height: 2rem;
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: var(--dark-grayish-blue-light-theme); }
  .bottom-bar li {
    border-bottom: none; }

.filters {
  display: flex; }

.switch-mode.bright-mode {
  background: url(/images/icon-moon.svg) no-repeat center; }

body.bright-mode {
  background: url(/images/bg-desktop-light.jpg) top no-repeat var(--very-light-gray); }

.todo-list.bright-mode,
.item.bright-mode {
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue); }

.bottom-bar.bright-mode {
  background-color: var(--very-light-gray); }

p {
  text-align: center;
  margin-top: 3rem;
  font-size: 0.75rem;
  color: var(--dark-grayish-blue-light-theme); }

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

@media screen and (max-width: 720px) {
  html {
    font-size: 10px; }
  .todo-container {
    position: relative; }
  .filters {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--very-very-dark-grayish-blue);
    margin-top: 1rem;
    height: 3rem;
    justify-content: center;
    font-size: 1.25rem;
    border-radius: 5px; }
  p {
    margin-top: 6rem; } }
