.bottom-bar {
    height: 2rem;
    width: 25rem;
    background-color: var(--very-very-dark-grayish-blue);
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    text-wrap: nowrap;
  }
  
  p {
    margin-top: 3rem;
    width: 25rem;
    font-size: 0.75rem;
    color: var(--dark-grayish-blue-light-theme);
  }
  