.switch.bright-mode {
  background: url(/images/icon-moon.svg) no-repeat center;
}

body.bright-mode {
  background: url(/images/bg-desktop-light.jpg) top no-repeat
    var(--very-light-gray);
}

.todo-list.bright-mode,
.item.bright-mode {
  background-color: var(--very-light-gray);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  color: var(--dark-grayish-blue);
}
