.switch-mode.bright-mode {
  background: url(/images/icon-moon.svg) no-repeat center;
}

body.bright-mode {
  background: url(/images/bg-desktop-light.jpg) top no-repeat
    var(--very-light-gray);
}

.todo-list.bright-mode,
.item.bright-mode {
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
}

.bottom-bar.bright-mode {
  background-color: var(--very-light-gray);
}


