.top-bar {
  display: flex;
  align-items: center;
}

h1 {
  color: var(--very-light-gray);
  letter-spacing: 0.5rem;
  margin: 3rem 0;
}

.switch-mode {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: url(/images/icon-sun.svg) no-repeat center;
  margin-left: auto;
  margin-top: -0.5rem;
  cursor: pointer;
}

.item {
  width: 30rem;
  height: 3rem;
  background-color: var(--very-very-dark-grayish-blue);
  color: var(--light-grayish-blue);
  display: flex;
  border-radius: 5px;
  margin-bottom: 1rem;
  align-items: center;
  padding: 1rem;
}

.item-description {
  height: 100%;
  font-size: 1rem;
  font-family: josefin sans, sans-serif;
}

.item-description::placeholder {
  font-size: 1rem;
  color: var(--light-grayish-blue);
}

.item-description:focus {
  outline: none;
}
