.item-description,
.todo-text {
  background-color: inherit;
  color: inherit;
  width: 100%;
  border: none;
  margin-left: 1rem;
}

.todo-text {
  margin-top: 0.25rem;
}

.todo-container {
  background-color: var(--very-very-dark-grayish-blue);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

li {
  border-bottom: 1px solid var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.status,
.round {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: solid 1px var(--very-dark-grayish-blue);
  margin-left: 0.5rem;
}

.status:hover {
  border: solid 1px var(--light-grayish-blue-hover);
}

.check {
  background: url(/images/icon-check.svg) no-repeat center,
    linear-gradient(to right bottom, lightsteelblue, steelblue);
}

.todo-text.line-through {
  text-decoration: line-through;
  color: var(--dark-grayish-blue-light-theme);
}

.cross {
  margin-left: auto;
  visibility: hidden;
}

.bottom-bar {
  height: 2rem;
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: var(--dark-grayish-blue-light-theme);
  li {
    border-bottom: none;
  }
}

.filters {
  display: flex;
}
